body{
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 900px;
}

/*Section 1*/
.block1{
    display: flex;
    background: #F4F6F9;
    width: 100%;
    height: 665px;
}

.first-block{
    width: 50%;
}
.logo-flex{
    display: flex;
}

.logo-ball{
    padding-left: 163px;
    padding-top: 63px;
}

.sports{
    padding-top: 63px;
}

.title-get-a-personalized{
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.03em;
    padding-left: 163px;
    padding-top: 133px;
}

.paragraph-get-a-personalized{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    padding-left: 163px;
    padding-top: 30px;
}

.apple-store{
    padding-left: 163px;
    padding-top: 50px;
}

.google-play{
    padding-left: 36px;
    padding-top: 50px;
}

.telephone-photo{
    width: 40%;
    margin-left: -92px;
}


/*Section 2*/
.block2{
    display: flex;
    width: 100%;
    height: 592px;
    background-image: linear-gradient(to left, #FFFFFF 50%, transparent 80%), url(../img/Rectangle.svg);
    background-repeat: no-repeat;
}

.arsenal-img{
    padding-left: 163px;
    padding-top: 109px;
}

.chelsea-img{
    margin-left: 269px;
}

.block-text{
    margin-left: 274px;
}

.what-it-does{
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
    padding-top: 133px;
}

.an-enhanced-football-experience{
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    padding-top: 27px;
}

.paragraph-first{
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
    padding-top: 27px;
}

.paragraph-second{
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
    padding-top: 10px;
}
.button-learn-more{
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
    padding-top: 22px;
    background-color: transparent;
}

.block3{
    width: 100%;
    height: 716px;
    background: #FFFFFF;
    background-image: url(../img/SAMPLE05.png);
    background-repeat: no-repeat;
    padding-left: 162px;
}

.get-started{
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
    padding-top: 217px;
}

.user-friendly-interface{
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    padding-top: 27px;
}

.paragraph-user-friendly-interface{
    width: 480px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
    padding-top: 27px;
    
}

.paragraph-user-friendly-interface-second{
    width: 480px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
    padding-top: 20px;
}

.button-learn-more-two{
    padding-top: 54px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
    background-color: transparent;
}

.block4{
    width: 100%;
    height: 735px;
    background-image: url(../img/Group\ 696.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.features-that-will{
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #FFFFFF;
    padding-left: 465px;
    padding-top: 76px;
}

.block-grid{
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 40% 40% 40%;
}

.information-blocks1{
padding-left: 163px;
padding-top: 59px;
}

.information-blocks2{
    padding-left: 220px;
    padding-top: 59px;
}

.information-blocks3{
    padding-left: 250px;
    padding-top: 59px;
}

.information-blocks4{
    padding-left: 163px;
    padding-top: 40px;
}

.information-blocks5{
    padding-left: 220px;
    padding-top: 40px;
}

.information-blocks6{
    padding-left: 250px;
    padding-top: 40px;
}

.information-blocks7{
    padding-left: 163px;
    padding-top: 30px;
}

.information-blocks8{
    padding-left: 220px;
    padding-top: 30px;
}

.information-blocks9{
    padding-left: 250px;
    padding-top: 30px;
}

.block-grid p{
    width: 311px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
}

.block5{
    width: 100%;
    height: 278px;
    background: #FAFAFA;
}

.what-our-users-say{
    
}